h1 {
  color: #4fcfbc;
  text-align: center;
  font-size: 50px;
}

h2, h3 {
  color: #4fcfbc;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #2a3740;
  padding-bottom: 5px;
}

body {
  background-color: #14181c;
  color: #dbe4ea;
  font-family: Arial;
  padding: 10px;
}

ul, li{
  list-style: none;
  padding: 10px;
  display: inline;
  background-color: #1e262d;
  color: #c3d1da;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

img {
  width: 189px;
  height: 189px;
  border-radius: 20px;
}